@{
    ViewBag.Title = "Book Review Site";
}

<div class="text-center">
    <h1>Welcome to Book Reviews!</h1>
    <p>Explore and share your favorite books. Leave reviews and find new recommendations.</p>
</div>
